*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

/* CAROUSEL */

.c-item{
    height: 480px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* OVERVIEW */

.overview{
    height: 150px;
    background-color: #d3dae1;
}

.navbar-collapse{
    transition: all 0.5s linear;
}


/* .preloader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #111111;
z-index: 1099;
display: flex;
align-items: center;
justify-content: center;
transition:  all 0.6s ease;
}
.preloader.loaded{
    visibility: hidden !important;
    opacity: 0;
    z-index: -999999;
}

.preloader .loader{
    height: 30px;
    width: 30px;
    border: 2px solid #ff9800;
    border-right: 2px solid transparent;
    border-radius: 50%;
    animation: ani01 2s linear infinite;
}



@keyframes ani01 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
} */

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0000001f !important;
    padding: 5px 20px;
    transition: 0.5s;
    animation:  scroll 0.6s 1;
 }
 
 @keyframes scroll {
     0%{transform: translateY(-100%);}
     100%{transform: translateY(0%);}
 }
